<div class="container bg-light col-xl-10 col-xxl-8 px-4 py-5">
    <header style="text-align: center" class="card-header mb-3 text-center fs-4"> <b>Register yourself</b>
    </header>
    <div class="row align-items-center g-lg-5 py-5">
  
      <div class="col-md-10 mx-auto col-lg-8">
        <form class="p-4 p-md-5 border rounded-3 bg-light" #f="ngForm" (ngSubmit)="f.form.valid && register()">
  
          <div class="alert alert-primary mt-1" *ngIf="errorMessage">
            {{errorMessage}}
          </div>
        
          <div class="form-floating display-inline mb-3">
            <input type="text" name="userName" class="form-control" id="userName"
              [(ngModel)]="user.userName" #userName="ngModel" placeholder="User Name" required>
            <label for="floatingInput">User Name</label>
            <div class="alert-danger" *ngIf="!userName.valid && f.submitted">
              User name is required.
            </div>
  
  
          </div>
          <div class="form-floating display-inline mb-3">
            <input type="password" name="password" class="form-control" id="password"
              [(ngModel)]="user.password" #password="ngModel" placeholder="Password" required>
            <label for="floatingInput">Password</label>
            <div class="alert-danger" *ngIf="!password.valid && f.submitted">
              Password is required.
            </div>
  
  
          </div>
          <div class="form-group mt-4">
            <label for="role">Role</label>
            <select class="form-select form-select-md mb-3" #role="ngModel" [(ngModel)]="user.role" name="role" id="role">
                <option value="ADMIN">ADMIN</option>
                <option value="USER">USER</option>
            </select>

            <div class="alert-danger" *ngIf="!role.valid && f.submitted">
                Role is required.
              </div>
        </div>
   
          <button class="w-100 btn mt-5 btn-lg btn-primary" type="submit">Sign Up</button><hr>
        
         
        </form>
        <hr>
      
        
  
      </div>
    </div>
  </div>

           
           